{% extends "base.html" %}
{% block content %}
<p>
<p>
<table>
  <form action="expandfs" id="expandfs" method="POST">
  <tr>
    <td>
    <div class="container-fluid">
      <div class="card border-primary mb-3">
      <section class="py-5">
        <div class="container">
          <h2 class="display-4">Expand File System</h2>
           <p class="lead">Click 'Submit' to expand your file system.
                   <ul>
                      <li>This will allow the Raspberry Pi have access to all the memory on the MicroSD card.
                      <li> Use the <a class="text-danger" href="/yield" target="lssysinfo">System Information</a> feature to see how much memory is being used.
                   </ul>
           <center> <input class="button1" type="submit" value="Submit"> </center>
     </td>
   </tr>

  <tr>
    <td style="margin: auto;">
      <div class="flashes">
      {% with messages = get_flashed_messages() %}
       {% if messages %}
       <div class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
       {% endif %}
     {% endwith %}
     </div>
    </td>
  </tr>


</table>

    </div>
  </div>
</div>

<p>
<p>
<p>
{% endblock %}

