{% extends "base_lite.html" %}
{% block content %}
<p>
<p>
<div class="container-fluid">
  <div class="card border-primary mb-3">
  <section class="py-5">
    <div class="container">
      <h2 class="display-4">System Information</h2>



<table>
  <tr>
    <td>
      <p style="color: red;"><b>Host Information</b></p>
        {{ sysinfo | safe}}<br>
    </td>
  </tr>

  <tr>
    <td style="margin: auto;">
      <div class="flashes">
      {% with messages = get_flashed_messages() %}
       {% if messages %}
       <div class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
       {% endif %}
     {% endwith %}
     </div>
    </td>
  </tr>

</table>

</div>
</div>
</div>

{% endblock %}
